.keypad{
    display: flex;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding: .4rem;
    font-family: african;
    color: var(--titles);
    justify-content: space-between;
    background: rgba(193, 146, 255, 0.65);
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid var(--titles);
}