.principal-title{
    text-align: center;
    font-size: 3.5em;
    color: #5d0092;
    font-weight: 200;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #a48394, 0px 0px 7px rgb(174, 33, 255);
    margin-top: 1rem;
    
  }
  
  @keyframes blur {
    from {
      text-shadow:0px 0px 10px rgb(243, 74, 74),
        0px 0px 50px #de8aff93,
        0px 0px 150px #de8aff93,
        0px 10px 100px #de8aff93,
        0px 10px 100px #de8aff93,
        0px 10px 100px #de8aff93,
        0px 10px 100px #de8aff93,
        0px -10px 100px #de8aff93,
        0px -2px 100px #de8aff93;
    }
}